*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(125, 166, 221);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/*Start section*/
/*Container style*/

.container{
  max-width: 500px;

  background-color: rgb(253, 253, 253);
  padding: 1%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 9px 17px -6px rgba(0,0,0,0.54)
}

/*Button style*/

button{
  margin: 20px;
  padding: 6px 25px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(126, 207, 78);
  color: white;
  cursor: pointer;
}

button:hover{
  opacity: 0.9;
}

h4{
  padding: 8px 0;
}

/*Questions section*/

h2{
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

/*Questions btns style*/
.btn{
  margin: 6px;
  padding: 6px 25px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(216, 216, 216);
  color: white;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(5, 46, 99);
  color: white;
}

/*Result section*/
p{
    margin: 25px 50px;
    font-size: 25px;
    font: bold;
}

i{
  margin: 0;
  padding: 0;
  font-size: 100px;
  color: rgb(247, 234, 58);
}




.correct{
  background-color: green;
}

.incorrect{
  background-color: red;
}